.flexlayout__layout .flexlayout__tab_border_left .flexlayout__tab_button {
    height: auto;
    width: 30px; /* Adjust as needed */
}

.flexlayout__border_button {
    writing-mode: vertical-rl;
}

/* .flexlayout__layout .flexlayout__tab_border_left .flexlayout__tab_button_content {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    padding: 10px 5px;
} */

/* .flexlayout__layout .flexlayout__tab_border_left .flexlayout__tab_button_content > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100px; 
} */
